<% provide(:title, "About") %>
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title><%= yield(:title) %> | MicrobloggingSite</title>
    </head>
    <body>
        <h1>About</h1>
        <p>This is a new about page in my project, with random HTML thrown at it.</p>
    </body>
</html>
