<% provide(:title, "Help") %>
<!-- You don't need to put all the HTML structure in here, just the body -->
<h1>Ye Olde Help Page</h1>
<p>This is where you can come for help in this website. I wonder if there is
    also a 404 page in here.</p>
