<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Help | MicrobloggingSite</title>
    </head>
    <body>
        <h1>Ye Olde Help Page</h1>
        <p>This is where you can come for help in this website. I wonder if there is
            also a 404 page in here.</p>
    </body>
</html>
